/* styles.css */

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  /* Header Styles */
  .header {
    background-color: #10b954;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    width: 50px;
    height: auto;
  }
  
  .nav-items ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .nav-items li {
    margin: 0;
  }
  
  .online-status {
    font-weight: bold;
  }
  
  .login {
    background-color: #fff;
    color: #ff4500;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  /* Body Styles */
  .body {
    padding: 20px;
  }
  
  .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search {
    display: flex;
    gap: 10px;
  }
  
  .search-box {
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .filter-btn {
    background-color: #ff4500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .res-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  /* Restaurant Card Styles */
  .res-card {
    background-color: #f0f0f0;
    padding: 20px;
    width: 200px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Prevent content overflow */
  }
  
  .res-logo {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden; /* Prevent image overflow */
  }
  .promoted-card {
    position: relative;
  }
  
  .label {
    position: absolute;
    top: 10px; /* Adjust the top positioning as needed */
    left: 10px; /* Adjust the left positioning as needed */
    background-color: #100f0f; /* Match the color with your design */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
  }
  /* styles.css */

/* ... existing styles ... */

/* RestaurantMenu Component Styles */
.restaurant-menu {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.restaurant-menu h1 {
  color: #333;
}

.restaurant-menu h3 {
  color: #777;
}

.restaurant-menu p {
  color: #555;
}

.restaurant-menu h2 {
  color: #ff4500;
}

.restaurant-menu ul {
  list-style: none;
  padding: 0;
}

.restaurant-menu li {
  margin: 10px 0;
  color: #444;
}

  
  /* Add more styles as needed */
  